<section class="container"></section>
    <div class="container--header">
      <h2 class="section--heading">contact</h2>
    </div>
    <div class="contact--container">
      <div class="l-grid l-grid--col-2">
        <div class="contact-image">
          <img src="../images/form-img.png" alt="">
        </div>
        <form action="#" class="contact-form">
          <input type="text" class="contact--input" placeholder="Your Name">
          <input type="text" class="contact--input" placeholder="Your Email">
          <textarea name="" id="" class="contact--input" placeholder="Your Message"></textarea>
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
</section>