<div class="customer-cards--container">
    <div class="customer-card--container customer-card--container__background">
      <div class="customer-card__quotes">
        <h2><i class="fas fa-quote-left"></i></h2>
      </div>
      <div class="customer-card__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Similique deserunt dicta reprehenderit quas sequi! Natus est
           eius maxime nulla magnam quis qui laborum minus incidunt.</p>
      </div>
      <div class="customer-card__stars">
        <i id="star_1" class="far fa-star card__star"></i>
        <i id="star_2" class="far fa-star card__star"></i>
        <i id="star_3" class="far fa-star card__star"></i>
        <i id="star_4" class="far fa-star card__star"></i>
        <i id="star_5" class="far fa-star card__star"></i>
      </div>
      <div class="customer-card__portrait">
        <img src="../images/portrait_1.jpg" alt="portrait">
        <p>Ann Brown</p>
      </div>
    </div>
    <div class="customer-card--container customer-card--container__background">
      <div class="customer-card__quotes">
        <h2><i class="fas fa-quote-left"></i></h2>
      </div>
      <div class="customer-card__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Similique deserunt dicta reprehenderit quas sequi! Natus est
           eius maxime nulla magnam quis qui laborum minus incidunt.</p>
      </div>
      <div class="customer-card__stars">
        <i id="star_1" class="far fa-star card__star"></i>
        <i id="star_2" class="far fa-star card__star"></i>
        <i id="star_3" class="far fa-star card__star"></i>
        <i id="star_4" class="far fa-star card__star"></i>
        <i id="star_5" class="far fa-star card__star"></i>
      </div>
      <div class="customer-card__portrait">
        <img src="../images/portrait_1.jpg" alt="portrait">
        <p>Ann Brown</p>
      </div>
    </div>
    <div class="customer-card--container customer-card--container__background">
      <div class="customer-card__quotes">
        <h2><i class="fas fa-quote-left"></i></h2>
      </div>
      <div class="customer-card__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Similique deserunt dicta reprehenderit quas sequi! Natus est
           eius maxime nulla magnam quis qui laborum minus incidunt.</p>
      </div>
      <div class="customer-card__stars">
        <i id="star_1" class="far fa-star card__star"></i>
        <i id="star_2" class="far fa-star card__star"></i>
        <i id="star_3" class="far fa-star card__star"></i>
        <i id="star_4" class="far fa-star card__star"></i>
        <i id="star_5" class="far fa-star card__star"></i>
      </div>
      <div class="customer-card__portrait">
        <img src="../images/portrait_1.jpg" alt="portrait">
        <p>Ann Brown</p>
      </div>
    </div>
</div>