<div class="team-card--container">
    <div class="team-card__display-btn">
      <div class="display-btn__line"></div>
    </div>
    <div class="team-card__bio">
      <h3 class="bio__heading">About Me</h3>
      <p class="bio__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Similique quibusdam dolore hic obcaecati, reprehenderit placeat 
        fugiat nostrum totam! Praesentium, et nesciunt. Cum ad ut dolorum 
        nesciunt quidem laudantium hic dolor fuga deserunt atque doloremque 
        placeat nemo quae, est, iure quam, ea impedit sequi quia. 
        Inventore quaerat atque autem facere molestiae.
      </p>
    </div>
    <div class="team-card__image">
      <img src="../images/team-member-1.jpg" alt="">
    </div>
    <div class="team-card__header">
      <h3 class="team-card__heading">Nick Smith</h3>
      <p class="team-card__details">(designer)</p>
    </div>
    <div class="team__skills-container">
      <ul class="team__skills l-grid l-grid--col-5">
        <li>Javascript</li>
        <li>Angular</li>
        <li>Xamarin</li>
        <li>Asp.Net</li>
        <li>Css3</li>
      </ul>
    </div>
    <div class="team-card__btn">
      <button class="btn btn--primary">Projects</button>
    </div>
</div>