/* section header */
.container--header{
    display: flex;
    justify-content: center;
}

.section--heading{
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 0.7px;
    color: #ccc;
    font-weight: 300;
}
/* end of section header */
/* customer cards container */
.customer-cards--container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding: 2rem;
}

.customer-card--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-shadow: 3px 8px 5px 2px #ccc;
    border-radius: 10px;
}

.customer-card--container:nth-child(1){
    transform: translateY(20rem);
}

.customer-card--container:nth-child(2){
    transform: translateY(10rem);
}

.customer-card--container__background{
    background-color: #eee;
    padding: 5rem;
}

.customer-card__quotes{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.customer-card__quotes h2{
    margin: 0;
    font-size: 4rem;
    color: var(--customer-color);
}

.customer-card__stars{
    margin-bottom: 1rem;
}

.card__star{
    font-size: 2rem;
    color: var(--customer-color);
    margin-left: 5px;
    cursor: pointer;
}

.customer-card__body{
    text-align: justify;
    margin-bottom: 1rem;
}

.customer-card__body p{
    font-size: 1.2rem;
}

.customer-card__portrait{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-top: 3rem;
}

.customer-card__portrait img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.customer-card__portrait p{
    font-size: 1.2rem;
}
/* end of customer cards container */
/* buttons */
.btn{
    padding: 0.5rem 2.5rem;
    border-radius: 10px;
    letter-spacing: 0.7px;
    font-size: 1.5rem;
    border: 0;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--customer-color);
    color: #fff;
}
/* end of buttons */
/* team skills */
.team__skills-container{
    padding: 5px 1px;
}

.team__skills li{
    font-size: 0.8rem;
    padding: 1px 3px;
    color: var(--undertone-color);
}
/* end of team skills */
/* team card */
.team-card--container{
    box-shadow: 1px 1px 8px 3px #ccc;
    border-radius: 3px;
    padding: 5px;
}

.team-card__header{
    display: flex;
    align-items: center;
}

.team-card__heading{
    font-size: 1.2rem;
}

.team-card__details{
    margin-left: 3px;
}
/* end of team card */