/* section header */
.container--header{
    display: flex;
    justify-content: center;
}

.section--heading{
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 0.7px;
    color: #ccc;
    font-weight: 300;
}
/* end of section header */
/* customer stars component */
.card__star{
    font-size: 2rem;
    color: var(--customer-color);
    margin-left: 5px;
    cursor: pointer;
}
/* end of customer stars component */